body{
    background: url("Student_2/girl_music.jpg") center no-repeat,linear-gradient(to right, #161933,#161614 , darkgrey);
    background-size: cover;
    background-color: grey;
    background-blend-mode: soft-light,normal;
}
.vertical-line {
    border-left: 3px solid white;
    margin: 100px 0px 100px 10px;
    display: block;
    height: 400px;
    float: left;
    overflow: auto;
}
.member-detail {
    overflow: auto;
    border-radius: 10px;
    margin: 10% 5% 10%;
    padding-bottom: 80px;
    width: 40% ;
    background: rgba(192,192,192,0.3);
	margin-left:350px;
}

.md-content{
	text-align:center;
}

.md-heading{
	text-align:center;
}

.logo{
	width:150px;
	height:auto;
	margin-top:-20px;
	margin-left:40px;
	
}

h1{
	margin-left:550px;
	font-size:45px;
	color:#fff;
	text-transform:uppercase;	
	animation:type 3s;
	overflow:hidden;
	white-space:nowrap;
	opacity:.9;
	margin-top:-10px;
}