*{
	margin:0;
	padding:0;
	font-family:Arial;
}

/*Background of the webpage*/
body{

	background-image:url('Profile/background.jpg');
	background-size:cover;
}

/*Header of the web page*/
ul{
	float:right;
	list-style-type:none;
	margin-top:10px;

}

.main_ul{
	float:right;
	list-style-type:none;
	margin-top:-50px;

}

ul li{
	display:inline-block;
}

ul li a{
	text-decoration:none;
	color:black;
	padding:5px 20px;
	border:1px solid transparent;
	transition:0.6s ease;
}

ul li a:hover{
	background-color:#fff;
	color:#000;
}



.logo{
	width:150px;
	height:auto;
	margin-left:50px;
	
}

/* Dropdown elements in the header */
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn {
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn_aboutUS {
  color: black;
  padding: 6px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color:#fff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: white}

.dropdown:hover .dropdown-content {
  display: block;
}


.main{
	max-width:1200px;
	margin:auto;
}

/*The body of the cv of malith*/

.box{
	width:450px;
	background:rgba(0,0,0,0.4);
	padding:40px;
	text-align:justify;
	margin:auto;
	margin-top:5%;
	color:white;
	height:780px;
	font-family:'Century Gothic',sans-serif;
}

.box-img{
	border-radius:50%;
	width:93px;
	height:80px;
	margin-right:20px;
}


/*Footer of the web page*/
.footer{
	width:100%;
	background:#00121b;
	display:block;
	position: absolute;
    left: 0;
    bottom: -690px;
    text-align: left;
	height:50%;
  
}

.inner-footer{
	width:95%;
	margin:auto;
	padding:30px 10px;
	display:flex;
	flex-wrap:wrap;
	box-sizing:border-box;
	justify-content:center;
}

.footer-items{
	width:25%;
	padding:1px 10px;
	box-sizing:border-box;
}

h1{
	padding:10px 0;
	font-size:25px;
	color:#fff;
	text-transform:uppercase;	
}

.footer-items p{
	color:gray;
	font-size:16px;
	text-align:justify;
	line-height:px;
}

.footer-bottom{
	padding:16px;
	margin-top:-10px;
	background:#3d545f;
	color:#fff;
	font-size:12px;
}

h2{
	margin:10px 0;
	color:gray;
	font-size:16px;
	font-weight:lighter;
	text-transform: uppercase;	
}

.border{
	height:2px;
	width:40px;
	background:#ff9800;	
}

.ul{
	list-style:none;
	color:#fff;
	font-size:15px;
	letter-spacing:0.25px;
	
	
}

.ul a{
	text-decoration:none;
	outline:none;
	color:#fff;
	transition:0.3s;	
}

.ul a:hover{
	color:#ff9800;
}

.li{
	margin:15px 230px;
	height:25px;
}

.li_2{
	margin:10px 230px;
	height:25px;
}

.li i{
	margin-right:20px;
}

.social-media{
	width:100%;
	color:#fff;
	text-align:left;
	margin-top:1.0%;

}
.facebook{
	float:right;
	cursor:pointer;
	margin-right:80%;

}

.instagram{
	cursor:pointer;
	margin-right:80%;
	float:right;
	margin-top:2.5%;

}

.twitter{
	cursor:pointer;
	margin-right:60%;
	float:right;
	margin-top:-30px;
}

.linkedin{
	cursor:pointer;
	margin-right:70%;
	float:right;
	margin-top:-30px;
}


/*Font adjsust*/

.FontButtons{
	
	cursor: pointer;
	float:right;
	margin-top:550px;
	margin-right:-410px;

}

#increase {background-color: #008CBA; } /* Blue */
#decrease {background-color: #555555; } /* Black */